beautifulsoup4
chromadb
docx
faiss_cpu
langchain
langchain_community
langchain_openai
numpy
openai
openpyxl
pandas
pypandoc
PyPDF2
python-dotenv
python_docx
python_pptx
scikit_learn
streamlit

