beautifulsoup4==4.13.3
chromadb==0.5.3
docx==0.2.4
faiss_cpu==1.10.0
langchain==0.3.19
langchain_community==0.3.18
langchain_openai==0.3.7
numpy==2.2.3
openai==1.64.0
openpyxl==3.1.5
pandas==2.2.3
pypandoc==1.15
PyPDF2==3.0.1
python-dotenv==1.0.1
python_docx==1.1.2
python_pptx==1.0.2
scikit_learn==1.6.1
streamlit==1.42.0
